In [1]:
%%capture
%pip install requests pandas

In [2]:
import ast
import json
import os
from os.path import exists
import pandas as pd
import requests
from tqdm import tqdm

# Setup API for HTTPS requests

### Authentication to use TMDB API

TMDB requires users to create an account to access its API. After creating an account, you can request a bearer token, which is then used to authenticate HTTPS requests. For using this code, the provided _config.json_ file contains the neccessary credentials used in the request header. Finally, the header is parsed with each request.

In [3]:
CONFIG_PATH = SCRAPED_DATA_PATH = os.path.join(os.path.abspath(""), "config.json")
BASE_URL = "https://api.themoviedb.org/3/movie/"
BASE_URL_TOP_RATED = BASE_URL + "top_rated?"

In [4]:
# Load the config file with API credentials
if exists(CONFIG_PATH):
    with open(CONFIG_PATH) as config_file:
        config = json.load(config_file)
        APP_NAME = config["TMDB"]["TMDB_APPLICATION_NAME"]
        AUTH_USER = config["TMDB"]["TMDB_EMAIL"]
        AUTH_TOKEN = config["TMDB"]["TMDB_BEARER_KEY"]
    
    # Define the headers to include the authentication token
    HEADERS = {
        "accept": "application/json",
        "Authorization": f"Bearer {AUTH_TOKEN}",
    }
    print(f"Config found - HEADER generated from:\n{CONFIG_PATH}")

else:
    print("Config not found!")

Config found - HEADER generated from:
/home/aleksandar-lukic/school/02805_Final_project/code/config.json

In order to check if authentication is valid, the response should return 200:

In [5]:
response = requests.get(BASE_URL_TOP_RATED+"authentication", headers=HEADERS)
print(response)

<Response [200]>

# Scraping TMDB

## Scraping the top 10.000 features on TMDB

The TMDB web structure is page-based, meaning any search performed on their database returns results one page at a time. It is the user's responsibility to specify which page to request. Therefore, to retrieve all search results, it is necessary to determine the total number of pages.

### Finding the number of pages

The total number of pages can be found by using the default base url and access the _"total\_pages"_ field.

In [6]:
response = requests.get(BASE_URL_TOP_RATED, headers=HEADERS)

In [7]:
TOTAL_PAGES = response.json()["total_pages"]
print(f"{TOTAL_PAGES=}")

TOTAL_PAGES=490

### Extracting features from pages

Using the total number of pages, all features can be extracted incrementally for each page and appended to a pandas DataFrame. The DataFrame can then be saved as a .csv file. 
Initially, the DataFrame is set up as follows:

In [8]:
features_df = pd.DataFrame()

Then, using a for-loop, the incemental page-number with the parameters are parsed the HTTPS request via the TMDB API. 
The parameters used in the code return all the highest rated movies from TMDB and sort them by their average rating.
These are then stored as rows in the DataFrame.

In [9]:
# Create the tqdm progress bar
progress_bar = tqdm(range(1, TOTAL_PAGES+1), desc="Scraping TMDB")

for PAGE in progress_bar:

    params = {
        "language": "en-US",
        "page": PAGE,
        "sort_by": "vote_average.desc"
    }

    response = requests.get(
        BASE_URL_TOP_RATED, 
        headers=HEADERS, 
        params=params
    )
    
    respone_json = response.json()

    current_df = pd.json_normalize(
        respone_json, 
        record_path = "results", 
        meta = [
            "page"
        ]
    )

    features_df = pd.concat([features_df, current_df])

Scraping TMDB: 100%|███████████████████████████████████████████| 490/490 [00:27<00:00, 18.03it/s]

### Cleaning the feature data and reindex the rows

In [10]:
features_clean_df = features_df.drop_duplicates(subset = "id", keep = "first")

features_clean_df = features_clean_df.reset_index()

features_clean_df = features_clean_df.drop("index", axis=1)

In [11]:
features_clean_df["cast"] = [[] for _ in range(len(features_clean_df))]

feature_id_to_index = {feature_id: idx for idx, feature_id in enumerate(features_clean_df["id"])}

In [12]:
# features_clean_df = features_clean_df.assign(cast="")

features_clean_df = features_clean_df[[
    "id",
    "title",
    "original_language",
    "overview",
    "cast",
    "popularity",
    "vote_count",
    "vote_average",
    "release_date",
    "genre_ids",
    "poster_path",
    "backdrop_path",
    "adult",
    "page"
]]

features_clean_df.rename(columns={
    "id": "feature_id", 
    "popularity": "feature_popularity"
}, inplace=True)

In [13]:
features_clean_df.iloc[0]

feature_id                                                          278
title                                          The Shawshank Redemption
original_language                                                    en
overview              Imprisoned in the 1940s for the double murder ...
cast                                                                 []
feature_popularity                                              157.766
vote_count                                                        27254
vote_average                                                        8.7
release_date                                                 1994-09-23
genre_ids                                                      [18, 80]
poster_path                            /9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg
backdrop_path                          /zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg
adult                                                             False
page                                                                  1
Name: 0, dtype: object

## Scraping the cast of features on TMDB 

Using the feature IDs, the cast can be scraped and added to the feature DataFrame. Each cast entry is stored as a list of actors.

In [14]:
cast_df = pd.DataFrame()

# Create the tqdm progress bar
progress_bar = tqdm(features_clean_df.iterrows(), total=len(features_clean_df), desc="Scraping TMDB")

for idx, row in progress_bar:

    params = {
        "language": "en-US",
    }

    movie_id = row["feature_id"]

    BASE_URL_ACTORS = BASE_URL + f"{movie_id}" + "/credits"

    response = requests.get(
        BASE_URL_ACTORS, 
        headers=HEADERS, 
        params=params
    )
    
    respone_json = response.json()

    current_df = pd.json_normalize(
        respone_json, 
        record_path = "cast",
    )
    
    current_df = current_df.assign(feature_id = movie_id)

    cast_df = pd.concat([cast_df, current_df])

Scraping TMDB: 100%|█████████████████████████████████████████| 9770/9770 [13:07<00:00, 12.41it/s]

In [17]:
# Ensure correct datatypes of values
cast_df = cast_df.astype({'id': int, "cast_id": int,"order": int, "gender": int, "order":int})

In [18]:
cast_df.iloc[0]

adult                                              False
gender                                                 2
id                                                   504
known_for_department                              Acting
name                                         Tim Robbins
original_name                                Tim Robbins
popularity                                        22.238
profile_path            /djLVFETFTvPyVUdrd7aLVykobof.jpg
cast_id                                                3
character                                  Andy Dufresne
credit_id                       52fe4231c3a36847f800b131
order                                                  0
feature_id                                           278
Name: 0, dtype: object

## Update feature data set with actor IDs and further cleaning

By scraping the features cast list, the starring actors can be added to the feature DataFrame as a list, indicated by their TMDB IDs.

In [19]:
# Create the tqdm progress bar
progress_bar = tqdm(cast_df.iterrows(), total=len(cast_df), desc="Adding cast to feature")

for idx, row in progress_bar:
    feature_id = row["feature_id"]
    
    # Get the index of the feature in features_clean_df
    if feature_id in feature_id_to_index:
        feature_idx = feature_id_to_index[feature_id]
        
        # Append the actor ID to the corresponding "cast" list
        features_clean_df.at[feature_idx, "cast"].append(row["id"])

# Ensure "cast" remains a list
features_clean_df["cast"] = features_clean_df["cast"].apply(lambda x: list(x))

Adding cast to feature: 100%|█████████████████████████| 365817/365817 [00:04<00:00, 78388.63it/s]

In [20]:
features_clean_df = features_clean_df.dropna(
    subset=[
        "feature_id",
        "title",
        "overview",
        "cast",                                                   
        "feature_popularity",
        "vote_count",
        "vote_average",
        "release_date",
        "genre_ids",
        "adult",
        "page"
    ]
)

In [21]:
features_clean_df = features_clean_df.dropna(subset=["cast"])

features_clean_df = features_clean_df[features_clean_df["cast"].apply(len) >= 2]

features_clean_df = features_clean_df.reset_index()

features_clean_df = features_clean_df.drop("index", axis=1)

In [22]:
features_clean_df.iloc[0]

feature_id                                                          278
title                                          The Shawshank Redemption
original_language                                                    en
overview              Imprisoned in the 1940s for the double murder ...
cast                  [504, 192, 4029, 6573, 6574, 6575, 6577, 6576,...
feature_popularity                                              157.766
vote_count                                                        27254
vote_average                                                        8.7
release_date                                                 1994-09-23
genre_ids                                                      [18, 80]
poster_path                            /9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg
backdrop_path                          /zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg
adult                                                             False
page                                                                  1
Name: 0, dtype: object

### Clean the actors data and reindex the rows

In [23]:
%%capture

cast_clean_df = cast_df[[
    "id",
    "original_name",
    "popularity",
    "gender",
    "adult",
    "profile_path"
]]

cast_clean_df.rename(columns={
    "id": "actor_id", 
    "popularity": "actor_popularity",
    "profile_path": "profile_image_path"
}, inplace=True)

In [24]:
cast_clean_df = cast_clean_df.sort_values(by = "actor_id", ascending = True)

cast_clean_df = cast_clean_df.drop_duplicates(subset = "actor_id", keep = "first")

cast_clean_df = cast_clean_df.reset_index()

cast_clean_df = cast_clean_df.drop("index", axis=1)

## Adding features to actors

In [25]:
# Initialize the 'featured_in' column with empty lists
cast_clean_df["featured_in"] = [[] for _ in range(len(cast_clean_df))]

# Create a mapping of actor_id to the corresponding index in the actor dataframe
actor_id_to_index = {actor_id: idx for idx, actor_id in enumerate(cast_clean_df["actor_id"])}

In [26]:
# Traverse the movies dataframe
for idx, row in features_clean_df.iterrows():
    feature_id = row["feature_id"]
    cast = row["cast"]

    # Convert the str to a list of int
    # cast = ast.literal_eval(cast)
    
    # For each actor in the cast, append the feature_id to their featured_in column
    for actor_id in cast:
        if actor_id in actor_id_to_index:
            actor_idx = actor_id_to_index[actor_id]
            cast_clean_df.at[actor_idx, "featured_in"].append(feature_id)

In [27]:
cast_clean_df

,actor_id,original_name,actor_popularity,gender,adult,profile_image_path,featured_in
0,1,George Lucas,20.273,2,False,/WCSZzWdtPmdRxH9LUCVi2JPCSJ.jpg,"[1895, 87, 607, 879, 306]"
1,2,Mark Hamill,23.236,2,False,/2ZulC2Ccq1yv3pemusks6Zlfy2s.jpg,"[1184918, 1891, 11, 1892, 354857, 45752, 13151..."
2,3,Harrison Ford,57.691,2,False,/n4dwIg6NbQzeMaS1yEKKlfNJH7a.jpg,"[1891, 28, 11, 78, 85, 1892, 89, 335984, 48184..."
3,4,Carrie Fisher,10.083,1,False,/2vmMjXMFW9ebX9VNKPW7WD6HLOR.jpg,"[1891, 11, 1892, 525, 5143, 639, 140607, 879, ..."
4,5,Peter Cushing,9.789,2,False,/if5g03wn6uvHx7F6FxXHLebKc0q.jpg,"[11, 11868, 8764, 11791]"
...,...,...,...,...,...,...,...
188140,5111772,Peggy Pisoni,0.600,0,False,None,[11335]
188141,5111773,Barbara Zegler,0.600,0,False,None,[11335]
188142,5112010,阎国强,0.600,0,False,None,[15804]
188143,5112088,谢鸿钧,0.600,0,False,None,[15804]
188144,5112157,段钟沂,0.600,0,False,None,[15804]

## Using TMDB to fetch wikibase\_items

In [28]:
features_clean_df = features_clean_df.assign(wikidata_id="")

In [29]:
# Create the tqdm progress bar
progress_bar = tqdm(features_clean_df.iterrows(), total=len(features_clean_df), desc="Scraping TMDB")

for idx, row in progress_bar:
    
    movie_id = row["feature_id"]

    params = {
        "language": "en-US",
    }

    BASE_URL_ACTORS = BASE_URL + f"{movie_id}" + "/external_ids"

    response = requests.get(
        BASE_URL_ACTORS, 
        headers=HEADERS, 
        params=params
    )
    respone_json = response.json()
    
    features_clean_df.at[features_clean_df.index[features_clean_df["feature_id"] == row["feature_id"]].item(), "wikidata_id"] = respone_json["wikidata_id"]

Scraping TMDB: 100%|█████████████████████████████████████████| 9726/9726 [27:12<00:00,  5.96it/s]

In [30]:
features_clean_df = features_clean_df.dropna(
    subset=[
        "feature_id",
        "title",
        "overview",
        "cast",                                                   
        "feature_popularity",
        "vote_count",
        "vote_average",
        "release_date",
        "genre_ids",
        "adult",
        "page",
        "wikidata_id"
    ]
)

In [31]:
features_clean_df

,feature_id,title,original_language,overview,cast,feature_popularity,vote_count,vote_average,release_date,genre_ids,poster_path,backdrop_path,adult,page,wikidata_id
0,278,The Shawshank Redemption,en,Imprisoned in the 1940s for the double murder ...,"[504, 192, 4029, 6573, 6574, 6575, 6577, 6576,...",157.766,27254,8.700,1994-09-23,"[18, 80]",/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg,False,1,Q172241
1,238,The Godfather,en,"Spanning the years 1945 to 1955, a chronicle o...","[3084, 1158, 3085, 3087, 3086, 3092, 3094, 309...",190.434,20699,8.689,1972-03-14,"[18, 80]",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,False,1,Q47703
2,240,The Godfather Part II,en,In the continuing saga of the Corleone crime f...,"[1158, 3087, 3092, 380, 3096, 3094, 3171, 3172...",96.518,12483,8.600,1974-12-20,"[18, 80]",/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,False,1,Q184768
3,424,Schindler's List,en,The true story of how businessman Oskar Schind...,"[3896, 2282, 5469, 6692, 6693, 6368, 6694, 669...",68.609,15900,8.567,1993-12-15,"[18, 36, 10752]",/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,False,1,Q483941
4,389,12 Angry Men,en,The defense and the prosecution have rested an...,"[1936, 5247, 5248, 5249, 5250, 2651, 5251, 495...",48.220,8697,8.500,1957-04-10,[18],/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,False,1,Q2345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9721,12142,Alone in the Dark,en,Edward Carnby is a private investigator specia...,"[2224, 1234, 10822, 60649, 67978, 84876, 87147...",18.737,606,3.246,2005-01-28,"[28, 14, 27]",/bSxrbVCyWW077zhtpuYlo3zgyug.jpg,/lcLyZzhB1ctfdH0hGBsTFrbflqP.jpg,False,490,Q701977
9722,13805,Disaster Movie,en,"Over the course of one evening, an unsuspectin...","[34202, 20404, 1114053, 211662, 58957, 212225,...",20.900,1024,3.200,2008-08-29,[35],/3J8XKUfhJiNzwobUZVtizXYPe8b.jpg,/5V6jAFS0Q49SI07qjyFRMYlbfR9.jpg,False,490,Q837945
9723,11059,House of the Dead,en,"Set on an island off the coast, a techno rave ...","[51937, 67977, 15661, 67978, 103286, 62589, 46...",12.871,386,3.100,2003-04-11,"[27, 28, 53]",/z2mDGbV4pLtsvSMNnmnSgoVZSWK.jpg,/aNUEHLNsNMprLZt6fjf5nqDq6er.jpg,False,490,Q705216
9724,14164,Dragonball Evolution,en,"On his 18th birthday, Goku receives a mystical...","[503, 1619, 78323, 78324, 4730, 47297, 9462, 8...",17.904,2038,2.890,2009-03-12,"[28, 12, 14, 878, 53]",/sunS9xhPnFNP5wlOWrvbpBteAB.jpg,/oHrrgAPEKpz0S1ofQntiZNrmGrM.jpg,False,490,Q653303
9725,40016,Birdemic: Shock and Terror,en,A platoon of eagles and vultures attacks the r...,"[488244, 488245, 488246, 488247, 518668, 51867...",5.971,337,2.200,2010-02-27,"[10749, 27, 53]",/gqmcAVNNUosB55RliecFYnkWT4M.jpg,/wDrs28ZYYnXVIeb87H0dCYlWiFA.jpg,False,490,Q547728

In [32]:
features_clean_df = features_clean_df.reset_index()

features_clean_df = features_clean_df.drop("index", axis=1)

## Saving the scraped feature data to a .csv file

In [33]:
SCRAPED_FEATURES_PATH = os.path.join(os.path.abspath(""), "data", "TMDB_scraped_features.csv")

In [34]:
SCRAPED_FEATURES_PATH

'/home/aleksandar-lukic/school/02805_Final_project/code/TMDB_scraped_features.csv'

In [35]:
features_clean_df.to_csv(SCRAPED_FEATURES_PATH, index = False)

## Saving the scraped actors data to a .csv file

In [36]:
SCRAPED_ACTORS_PATH = os.path.join(os.path.abspath(""), "data", "TMDB_scraped_actors.csv")

In [37]:
SCRAPED_ACTORS_PATH

'/home/aleksandar-lukic/school/02805_Final_project/code/TMDB_scraped_actors.csv'

In [38]:
cast_clean_df.to_csv(SCRAPED_ACTORS_PATH, index = False)

# Get genre names by id from TMDB

Since the genres are represented in the API responses by their TMDB IDs, their english names can be requested. To ensure that all possible genres are accounted for, the TV genres are also requested. The genres are then lastely converted to DataFrames, concatenated and finally save to a csv-file.

In [39]:
# Define the URLs for the requests
MOVIE_GENRE_LIST_URL = "https://api.themoviedb.org/3/genre/movie/list?"
TV_GENRE_LIST_URL = "https://api.themoviedb.org/3/genre/tv/list?"

# Return the English genre names
params = {
    "language": "en"
}

# Send HTTPS request through the TMDB API
response_movies = requests.get(MOVIE_GENRE_LIST_URL, headers=HEADERS, params=params)
response_tv = requests.get(TV_GENRE_LIST_URL, headers=HEADERS, params=params)

# Create DataFrames and concatenate them into a single one
genre_movie_df = pd.DataFrame(response_movies.json()["genres"])
genre_tv_df = pd.DataFrame(response_tv.json()["genres"])
genres_df = pd.concat([genre_movie_df, genre_tv_df])

# Sort, Clean and Reindex the genres
genres_clean_df = genres_df.sort_values(by = "id", ascending = True)
genres_clean_df = genres_clean_df.drop_duplicates(subset = "id", keep = "first")
genres_clean_df = genres_clean_df.reset_index()
genres_clean_df = genres_clean_df.drop("index", axis=1)

genres_clean_df

       id                name
0      12           Adventure
1      14             Fantasy
2      16           Animation
3      18               Drama
4      27              Horror
5      28              Action
6      35              Comedy
7      36             History
8      37             Western
9      53            Thriller
10     80               Crime
11     99         Documentary
12    878     Science Fiction
13   9648             Mystery
14  10402               Music
15  10749             Romance
16  10751              Family
17  10752                 War
18  10759  Action & Adventure
19  10762                Kids
20  10763                News
21  10764             Reality
22  10765    Sci-Fi & Fantasy
23  10766                Soap
24  10767                Talk
25  10768      War & Politics
26  10770            TV Movie

In [40]:
TMDB_GENRES_PATH = os.path.join(os.path.abspath(""), "data", "TMDB_genres.csv")
genres_clean_df.to_csv(TMDB_GENRES_PATH, index = False)